<h3 class="text-center text-decoration-underline">Editar Ingreso o Egreso</h3>
<div class="container">
  <%= form_with model: @finance do |form| %>
    <p>Tipo: <%= form.select :category_id, Category.all.map { |category| [ category.name, category.id ] }, class: "form-select form-select-lg mb-3" %></p>
    <p>Descripción: <%= form.text_area :description, class: "form-control" %></p>
    <p>Precio: <%= form.number_field :price, in: 0.0..50000.0, step: 0.5, class: "form-control"%></p>
    <p>Cantidad: <%= form.text_field :amount, class: "form-control" %> </p>
    <p>Fecha: <%=  form.date_field :day, class: "input-append date" %></p>
    <%= form.submit "Registrar", class: "btn btn-primary"  %>
  <% end %>

</div>

 <div class="container" styles="width: 100%;">   
        <%= link_to 'ATRAS', { controller: 'finances', action: 'index'}, class: "btn btn-primary" %>   
   </div> 
